{% extends 'registration/base.html' %}
{% block content %}
    {% if validlink %}
    <div class="card-body login-card-body">
      <p class="login-box-msg">Change Password</p>

      <form method="POST">
      {% csrf_token %}
<!--          {{ form.as_p }}-->
        {% for field in form %}
          <div class="form-group">
              {{ field.errors }}
              {{ field.label_tag }}
              <input type="password" id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="form-control">
          </div>
      {% endfor %}
          <button type="submit" class="btn btn-success btn-block">Change Password</button>
      </form>


  </div>

    {% else %}
    <div class="card-body login-card-body">
        <p class="login-box-msg">
            The Password Link Was Expired or Invalid.
        </p>
    </div>
    {% endif %}

{% endblock content %}