{% extends 'registration/base.html' %}
{% block content %}
    <div class="card-body login-card-body">
      <p class="login-box-msg">Forgot Password</p>

      <form method="POST">
      {% csrf_token %}
<!--          {{ form.as_p }}-->
      {% for field in form %}
          <div class="form-group">
              {{ field.label_tag }}
              {{ field.errors }}
              <input type="text" id="{{ field.id_for_label }}" name="{{ field.html_name }}"  class="form-control">
          </div>
      {% endfor %}
      <button type="submit" class="btn btn-block btn-success">Submit</button>
      </form>


  </div>
<!-- /.login-box -->

{% endblock content %}